<web-app>

	<servlet>
		<servlet-name>Izumi</servlet-name>
		<servlet-class>IzumiServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Izumi</servlet-name>
		<url-pattern>/izumi</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>izumilist</servlet-name>
		<jsp-file>/sakusei.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>izumilist</servlet-name>
		<url-pattern>/izumilist</url-pattern>
	</servlet-mapping>
	
	<error-page>
		<error-code>404</error-code>
		<location>/notfound.jsp</location>
	</error-page>
	
	<error-page>
		<exception-type>javax.servlet.ServletException</exception-type>
		<location>/nocontent.jsp</location>
	</error-page>

</web-app>