html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,
 strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
 thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
  summary, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

body{
min-width: 960px;
overflow-y: scroll;
background-color: #fafafc;
font-size: 62.5%;
font-family: "ヒラギノ角ゴ ProN W3",Hiragino Kaku Gothic ProN,"メイリオ",Meiryo,Lucida Grande,sans-serif;
-webkit-text-size-adjust: none;
-webkit-font-smoothing: antialiased;
}

.layout-header{
	position: fixed;
top: 0;
right: 0;
left: 0;
z-index: 1000;
}

.header{
box-shadow: 0 1px 1px rgba(0,0,0,.2);
height: 48px;
background-color: #fff;
position: relative;
}

.header__logo{
	overflow: hidden;
  height: 48px;
  width: 48px;
  float: left;
  background-image: ;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__slogan{
overflow: hidden;
height: 48px;
width: 256px;
float: left;
background-image: url(../img/common/lobi_logo_with_slogan.png);
background-position: center center;
background-repeat: no-repeat;
}

.header__slogan+.search-box{
left: 300px;
}

.search-box{
position: absolute;
right: 250px;
left: 290px;
padding-left: 15px;
border-left: 1px solid #ddd;
}

.search-box__keyword{
box-sizing: border-box;
position: absolute;
right: 0;
left: 50px;
width: 100%;
margin: 0;
padding: 14px 0;
border: none;
background: transparent;
font-size: 1.3em;
line-height: 18px;
color: #333;
outline: none;
}

.loading-bar-container{
position: absolute;
width: 100%;
top: 48px;
}

.layout-content{
	min-height: 100%;
	    box-sizing: border-box;
	    position: relative;
	    padding-top: 48px;
	    -webkit-transition: opacity .3s ease-in;
	    transition: opacity .3s ease-in;
}

.c-login-status__info--logged-out {
	width: 334px;
	padding: 0;
}

.c-login-status__info--logged-out .c-login-status__login{
	position: absolute;
	right: 0px;
	display: block;
  text-align: center;
  cursor: default;
}

.c-login-status__login-dropdown{
position: absolute;
top: 40px;
left: 0;
display: none;
background-color: rgba(0,0,0,.5);
}
.c-login-status__login{
display: inline-block;
padding: 0 15px;
font-size: 1.3em;
font-weight: 700;
line-height: 48px;
textdecoration: none;
}
.c-login-status_login2{
	display: inline-block;
	padding: 0 70px;
	font-size: 1.3px;
	font-weight:700;
	line-height:48px;
	text-decoration: none;
	color:#000;
}
.qwerty{
	position: relative;
	margin:0px 200px;
	padding: 0px 200px 1000px;
	border:1px solid #000;
	height:0px;
}
.a{
	position:relative;
	margin:70px;
	padding:0px;
}
.b{
	position:relative;
	margin:70px 0px 0px 0px;
	
}
